.window-fixed-bar {
    position: fixed;
    z-index: 1010;
    right: 0;
    bottom: 0;
    left: @width-panel;
    background-color: @color-f;

    border: 1px solid @color-border-dark;

    &--developer-mode {
        bottom: 36px;
    }

    &--top {
        top: 0;
        left: 0;
        bottom: auto;

        border: 0;
    }

    &__in {
        display: flex;
        width: 100%;
        min-width: 768px;
        height: @height-fixed-bar;
        margin: 0 auto;
        max-width: @width-content;

        background: @color-f;

        .window-fixed-bar--type-alert & {
            text-align: left;

            color: @color-f;
            background: @color-alert;
        }

        .window-fixed-bar--top & {
            max-width: 100%;
        }
    }

    &__item {
        display: flex;
        flex: 1;
        align-items: center;
        height: @height-fixed-bar;
        padding-right: 30px;
        padding-left: 30px;

        border-left: 1px solid @color-border-dark;

        &:first-child {
            border-left: none;
        }

        &--1 {
            flex: 1;
        }

        &--2 {
            flex: 2;
        }

        &--3 {
            flex: 3;
        }

        &--4 {
            flex: 4;
        }

        &--5 {
            flex: 5;
        }

        &__cell {
            flex: 0 100%;
        }
    }
}

@media @query-lg {
    .window-fixed-bar {
        &__in {
            text-align: right;
            width: @width-web;
        }
    }
}
